/* Contacto */
#form-contacto .contact-form {
    background-color: white;
    margin-top: 45px;
    margin-bottom: 5%;
    width: 70%; }
  
.contact-form form {
    padding: 14%; }
  
.contact-form form .row {
    margin-bottom: -7%; }
  
.contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: black; }
  
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #4fbbbc;
    font-weight: 600;
    color: white;
    cursor: pointer; }
  
.btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #191a73;
    border: none;
    cursor: pointer; }