/* Main */
#main .carousel-inner img {
    max-height: 600px;
    object-fit: cover; }
  
#carousel {
    position: relative; }
  
#main .carousel-inner h5 {
    font-size: 40px; }
  
#main .carousel-inner p {
    font-size: 20px; }
  
#novedades-index {
    padding: 10px;
    text-align: center;
    height: 70px;
    background-color: #191a73;
    color: white;
    text-transform: uppercase; }
  
#novedades-index .texto-novedades h4 {
    font-size: 32px; }
  
  /* Main */