/* Tarjeta de producto */
#product-card {
    width: 500px;
    padding: 20px;
    height: 580px;
    position: relative;
    text-transform: uppercase;
    margin-top: 15px;
    display: flexbox; }
  
.card-img-top {
    width: 250px;
    height: 340px; }
  
card-body {
    background-color: white; }
  
.card-body h1 {
    font-size: 22px; }
  
.card-text {
    font-size: 13px;
    color: #bbb; }
  
.card-price {
    color: black;
    font-size: 25px; }
  
#product-card .btn {
    margin-left: auto;
    color: #191a73;
    text-decoration: none;
    border: 2px solid;
    padding: 8px 24px;
    border-radius: 20px;
    transition: .4s linear; }
  
.btn:hover {
    transform: scale(1.06); }
  
  /* Tarjeta de producto */
  